@use 'variables' as *;
@use 'sass:math';

.mt {
  &-0 {
    margin-top: 0 !important;
  }
  &-1 {
    margin-top: math.div($margin, 2) !important;
  }
  &-2 {
    margin-top: $margin !important;
  }
  &-3 {
    margin-top: $margin * 1.5 !important;
  }
  &-4 {
    margin-top: $margin * 2 !important;
  }
}

.mb {
  &-0 {
    margin-bottom: 0 !important;
  }
  &-1 {
    margin-bottom: math.div($margin, 2) !important;
  }
  &-2 {
    margin-bottom: $margin !important;
  }
  &-3 {
    margin-bottom: $margin * 1.5 !important;
  }
  &-4 {
    margin-bottom: $margin * 2 !important;
  }
}
.mr {
  &-0 {
    margin-right: 0 !important;
  }
  &-1 {
    margin-right: math.div($margin, 2) !important;
  }
  &-2 {
    margin-right: $margin !important;
  }
  &-3 {
    margin-right: $margin * 1.5 !important;
  }
  &-4 {
    margin-right: $margin * 2 !important;
  }
}
.ml {
  &-0 {
    margin-left: 0 !important;
  }
  &-1 {
    margin-left: math.div($margin, 2) !important;
  }
  &-2 {
    margin-left: $margin !important;
  }
  &-3 {
    margin-left: $margin * 1.5 !important;
  }
  &-4 {
    margin-left: $margin * 2 !important;
  }
}


.pt {
  &-0 {
    padding-top: 0 !important;
  }
  &-1 {
    padding-top: math.div($padding, 2) !important;
  }
  &-2 {
    padding-top: $padding !important;
  }
  &-3 {
    padding-top: $padding * 1.5 !important;
  }
  &-4 {
    padding-top: $padding * 2 !important;
  }
}

.pb {
  &-0 {
    padding-bottom: 0 !important;
  }
  &-1 {
    padding-bottom: math.div($padding, 2) !important;
  }
  &-2 {
    padding-bottom: $padding !important;
  }
  &-3 {
    padding-bottom: $padding * 1.5 !important;
  }
  &-4 {
    padding-bottom: $padding * 2 !important;
  }
}
.pr {
  &-0 {
    padding-right: 0 !important;
  }
  &-1 {
    padding-right: math.div($padding, 2) !important;
  }
  &-2 {
    padding-right: $padding !important;
  }
  &-3 {
    padding-right: $padding * 1.5 !important;
  }
  &-4 {
    padding-right: $padding * 2 !important;
  }
}
.pl {
  &-0 {
    padding-left: 0 !important;
  }
  &-1 {
    padding-left: math.div($padding, 2) !important;
  }
  &-2 {
    padding-left: $padding !important;
  }
  &-3 {
    padding-left: $padding * 1.5 !important;
  }
  &-4 {
    padding-left: $padding * 2 !important;
  }
}
