// Base Colors
@use 'functions' as *;

$primary: hsl(239, 52%, 48%);
$accent: #4db6ac;
$orange: #E16239;
$orange-light: #f6c3b2;
$gray-text: #777777;
$default-font-color: hsl(0, 0%, 18%);
$bg-color: hsl(216, 42%, 95%);

$box-shadow: 1px 5px 16px 0px rgba(0, 0, 0, .01);
$border-radius: 8px;
$border-color: hsl(0, 0%, 91%);
$base-line-height: 30px;
$card-radius: 30px;

// Base Padding & Margin
$margin: 8px;
$padding: 8px;

$font-xxs: rem(8);
$font-xs: rem(12);
$font-sm: rem(14);
$font-md: rem(18);
$font-lg: rem(24);
$font-xl: rem(32);
