@use '../utils' as *;

.card {
  background-color: #fff;
  box-shadow: 0px 1px 99px rgba(#fff, 0.06);
  padding: $padding * 2;
  border-radius: $card-radius;
}


.line-accent {
  border-radius: 25px;
  height: 8px;
  width: 100%;
  background-color: $accent;
}
