@use 'sass:math';
@use '../utils' as *;

$menu-items: 5;
$menu-items-loop-offset: $menu-items - 1;

$width: math.div(100, $menu-items) * 1%;

.site-header {
    padding: $padding * 5;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    transition: 0.3s ease;

    &.header-bg {
      background-color: rgba(255,255,255,.5);
      backdrop-filter: blur( 10.5px );
    }

    @for $i from 1 through $menu-items-loop-offset {
        .nav-item:nth-child(#{$i}).active ~ .nav-item:last-child:after {
            transition: all 0.3s;
            left: ($width*$i)-$width;
        }
    }

    @include breakpoint-down(small) {
      padding: 5px;
    }
    nav {
        @include flexbox(row, center, initial);
        margin: 0 auto;
        width: fit-content;
        position: relative;

        a {
            color: $default-font-color;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 100px;
                @include breakpoint-down(small) {
                  padding: 20px;
                }
            }

            &.nav-item {
                &:nth-child(1).active ~ .nav-item:last-child:after {
                    margin-left: 3%;
                }
                &:nth-child(2).active ~ .nav-item:last-child:after {
                    margin-left: 5%;
                }
                &:nth-child(4).active ~ .nav-item:last-child:after {
                    margin-left: 12%;
                }
            }

            &.nav-item:last-child {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: $primary;
                    border-radius: 50%;
                    bottom: 0;
                    transition: 0.3s;
                    left: 96.5%;
                }
            }

            @include breakpoint-down(small) {
              padding: 10px !important;
              &:not(:last-of-type) {
                margin-right: 10px;
              }

              &.nav-item {
                &:nth-child(1).active ~ .nav-item:last-child:after {
                    margin-left: 7%;
                }
                &:nth-child(2).active ~ .nav-item:last-child:after {
                    margin-left: 6.5%;
                }
                // &:nth-child(3).active ~ .nav-item:last-child:after {
                //     margin-left: 12%;
                // }
                &:nth-child(4).active ~ .nav-item:last-child:after {
                    margin-left: 9.5%;
                }
                &:last-of-type.active::after {
                    margin-left: -4.5%;
                }
              }
            }

            @include breakpoint-down(xsmall) {
              font-size: rem(14);

              &:not(:last-child) {
                margin-right: 0;
              }

              padding: 10px !important;

              &.nav-item {
                &:nth-child(1).active ~ .nav-item:last-child:after {
                    margin-left: 7.5%;
                }
                &:nth-child(2).active ~ .nav-item:last-child:after {
                    margin-left: 6%;
                }
                // &:nth-child(3).active ~ .nav-item:last-child:after {
                //     margin-left: 12%;
                // }
                &:nth-child(4).active ~ .nav-item:last-child:after {
                    margin-left: 9.5%;
                }
                &:last-of-type.active::after {
                    margin-left: -5%;
                }
              }
            }
        }

        .active {
            color: $primary;

            &-dot {
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: $primary;
                border-radius: 50%;
                bottom: 0;
            }
        }
    }
}


.inner-header {
  padding-block: $padding * 4;
  background-color: $primary;
  padding-inline: $padding * 6;

  & > div {
    @include flexbox(row, center, space-between);

    @media screen and (max-width: 608px) {
      flex-direction: column;

      & > a {
        margin-bottom: $margin * 2;
      }
    }
  }

  &__socials {
    a {
      margin-right: $margin * 2;
    }
  }
}
