@use '../utils' as *;

.single-blog {
  @include flexbox(row, initial, initial);
  min-height: 200px;
  border-radius: 30px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;

  &__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
  }
  &__details {
    @include flexbox(column, initial, space-between);
    padding: $padding * 4;
    background-color: white;
    width: 100%;

    * {
      color: #484848;
    }

    .upper {
      .title {
        font-size: rem(28);

        @include breakpoint-down(medium) {
          font-size: $font-md + rem(2);
        }
      }
      .teaser {
        font-size: $font-md;
        font-weight: lighter;

        @include breakpoint-down(medium) {
          font-size: $font-sm + rem(2);
        }
      }
    }

    .lower {
      @include flexbox(row, center, space-between);
      .date,
      .proximity {
        font-size: $font-sm;
      }
    }
  }
}


.show-blog {
  &__header {
    padding-block: 70px;
    padding-inline: $padding * 4;

    p {
      color: $gray-text;

      @include breakpoint-down(small) {
        font-size: $font-sm;
      }
    }

    .blog-title {
      font-size: rem(50);
      margin-top: $margin * 2;

      @include breakpoint-down(small) {
        font-size: $font-xl;
      }
    }
  }
  &__image {
    overflow: hidden;
    border-radius: $border-radius;
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;

    img {
      object-fit: cover;
      width: 100%;
      height: 600px;

      @include breakpoint-down(small) {
        height: 400px;
      }
    }
  }

  &__content {
    width: 80%;
    max-width: 800px;
    background: white;
    padding: $padding * 8;
    margin: 0 auto;
    transform: translateY(-150px);

    p {
      font-size: $font-md + rem(2);
      line-height: 2;

      @media screen and (max-width: 768px) {
        font-size: $font-sm + rem(2);
      }


      @include breakpoint-down(small) {
        font-size: $font-sm;
      }
    }

    @include breakpoint-down(medium) {
      padding: $padding * 4;
    }
    @include breakpoint-down(small) {
      padding: $padding * 2;
    }
  }
}
